
/* General page style */
body {
    font-family: sans-serif;
    font-size: 16px;
     background-color: rgb(250, 221, 195);
    line-height: 1.6;
    
}


/* Header*/
header {
    background-color: #3b1f2b;
    padding: 15px 0;
}

/* Navigation */
nav {
    margin: 0;
    padding: 17px 10%;
    box-sizing: border-box;
    background-color: white;
    border-bottom: 5px solid #841010;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo {
    font-size: 20px;
    font-weight: 400;
    color: black;
    letter-spacing: 2px;
}

.nav-link {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 25px;
}

.nav-link li a {
    text-decoration: none;
    position: relative;
    font-size: 20px;
    font-weight: 500;
    color: black;
}

.nav-link li a:hover{
    color:  rgb(132, 16, 16);
}

/* Main content */
main {
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;
}

section {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
}

/* Titles */
h1 {
    font-size: 32px;
    color: #841010;
    text-align: center;
    margin-bottom: 25px;
}

h2 {
    font-size: 22px;
    color: #841010;
    margin-bottom: 10px;
}

/* Text */
article {
    margin-bottom: 25px;
}

p {
    font-size: 16px;
    margin-bottom: 10px;
}

/* FOOTER*/
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    border-top: 2px solid #841010;
    background-color: white;
    color: var(--text-color);
    font-size: 14.4px; 
    flex-wrap: wrap; 
}