/*#for id . for classes */

/* MAIN INDE PAGE */
body{
    font-family: Sans-serif;
}
nav{
    margin: 0;
    padding: 5px 10%;
    box-sizing: border-box;
    background-color: white;
    border-bottom: 5px solid #841010;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
 }
 .logo{
    font-size: 20px;
    font-weight: 400;
    color: black;
    letter-spacing: 2px;
 }
.nav-link{
    list-style: none;
    display: flex;
    gap: 25px;
}
.nav-link li a{
    position: relative;
    font-size: 20px;
    font-weight: 500;
    color: black

}
/*changes the color when you hover over the links*/
.nav-link li a:hover{
    color:  rgb(132, 16, 16);
}
/*header banner*/
.header-img{
   width: 100%;
   height: 550px;
   object-fit: cover;
   display: block;
   margin-top: 0px;
}
.title1{
    text-align: center;
    font-size: 50px;
    margin-top: -35px;
    
}
.IntroPara{
    font-size: 20px;
}
.StartButton:hover{
    background-color: #8B0000;
    color: white;
    cursor: pointer;
}
.StartButton{
  border-radius: 20px;
    width: 70px;
    height: 30px;
    background-color: rgb(255, 246, 246);
    border-color: black;
    color: #8B0000;
    font-size: 20px;
}
.Click{
    font-family: sans-serif;
    font-size: 20px;
}

/*women writteb in red*/
.WordColor{
    color: rgb(132, 16, 16);
}
.container{
    display: inline-block;
}
/*the text radical taught*/
.text{
    font-size: 30px;
    border-right: 2px solid black;
    width: 62ch;
    white-space: nowrap;
    overflow: hidden;
    animation: steps 20s steps(60) infinite,
    cursor 0.4s step-end infinite alternate;

}
/*cursor blinking effect*/
@keyframes cursor{
    0%, 100%{border-color: transparent}
    20%{border-color: black;}
}
/*typing effect*/
@keyframes steps{
    from {width: 0ch;}
}
.header {
  width: 100%;
  position: relative;
}
.intro{
    font-size: 30px;
}
/*color sections*/
.ColorSection1{
  background-color: rgb(241, 229, 218);
  color: #111;
  padding: 80px 10%;
}
.ColorSection2{
  height: 84vh;
  background-color: #8B0000;
  color: #f9f4ef;
  padding: 80px 10%;
} 
.ColorSection3{
  height: 75vh; 
  color: #000000;
  padding: 80px 10%;
  background-color: #1c1c1c;
}
/*

/* INTRO TEXT BLOCK */
.IntroText {
    background:rgb(241, 229, 218);
    padding: 25px;
    border-radius: 12px;
    margin-bottom: 25px;
    color: #000000;
}

/* DID YOU KNOW --HiddenContent */
.HiddenContent {
    background:rgb(241, 229, 218);
    padding: 20px 25px;
    border-radius: 12px; 
    color: #000000;
}
.space{
    height: 20px;
}
.DiscoverButton{
    border-radius: 20px;
    width: 100px;
    height: 30px;
    background-color:rgb(241, 229, 218);
    border-color: black;
    color: #8B0000;
    font-size: 20px;
}
/*fixing tiles*/
.tiles-wrapper{
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    gap: 20px;
}
.tile {
    width: 250px;
    background: rgb(241, 229, 218);
    padding: 10px;
    border-radius: 8px;
}
.tile img {
    
    width: 55%;
    height: 180px;
    object-fit: cover;
    border-radius: 5px;
    display: block;      
    margin: 0 auto;  /*centers the img block */
}
/* FOOTER */
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    border-top: 2px solid #841010;
    background-color: white;
}
/* world map */

svg{
    width: 100vh;
    height: 100vh;
} 
path:hover{
    fill: #8B0000;
}

 .Container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  padding: 100px /* pushes the bloock away from the nav bar */
  
}

.WorldMap svg {
  width: 150vh;
  height: 90vh;
  transform: scale(1.1); /*zoom svg map */
  margin-right: -350px;

}

/*block on the right */
.block {
  background-color: rgb(34, 170, 34);
  color: black;
  height: 50vh;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* WALL PAGE */

.HideAudio{
  position: absolute;
  left: -9999px;
}


/* GAME PAGE */
.GamePage{
    margin-top: 80px;
}


.GameOne{
    
    width: 900px;
    height: 20vh;
    color: pink;
    background-color: red;
}
.GameTwo{
    width: 900px;
    height: 20vh;
    color: green;
    background-color: rgb(40, 22, 146);
}
.GameThree{
    
    width: 900px;
    height: 20vh;
    color: white;
    background-color: red;
}

.GameBanner{
    height: 300px;
    background-color: rgb(219, 252, 32);
    font-size: 30px;
} 



/* GAME ONE */

.GameOneMarge{
    margin-top: 80px;
}




/*fixing first image getting eaten up by fixed navbar*/
/*.view {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
  padding-top: 100px;
} */
