/* everything */
* {
    font-family: sans-serif;
}

/* NAVIGATION */
nav{
    margin: 0;
    border-bottom: 5px solid #841010;
    padding: 5px 10%;
    box-sizing: border-box;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
 }
 .logo{
    font-size: 20px;
    font-weight: 400;
    color: black;
    letter-spacing: 2px;
 }
.nav-link{
    list-style: none;
    display: flex;
    gap: 25px;
}
.nav-link li a{
    position: relative;
    font-size: 20px;
    font-weight: 500;
    color: black

}
/*changes the color when you hover over the links*/
.nav-link li a:hover{
    color:  rgb(132, 16, 16);
}

/* hero */
.hero {
    text-align: center;
    padding: 120px 20px 40px; /* top padding for nav */
    background: #fcf9f1;
}

.hero h1 {
    font-size: 30px;
    color: #841010;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 20px;
    color: #555;
    margin-bottom: 20px;
}

.hero-img {
    width: 80%;
    max-width: 800px;
    border-radius: 8px;
}

/* intro */
.intro {
    background-color: rgb(223, 206, 167);
    padding: 40px 20px;
    max-width: 900px;
    border-radius: 25px;
    margin: 0 auto;
}

.intro p {
    margin-bottom: 15px; /* spacing */
    line-height: 1.6;
    color: #333;
}

.intro ul {
    margin: 15px 0;
    padding-left: 20px; /* spacing */
    color: #333;
}

.intro-img {
    display: block;
    margin: 20px auto;
    max-width: 400px;
    border-radius: 8px;
}
.Photo1{
    height: 550px;
    width: 550px;
}
.Photo2{
    padding: 40px 20px;
    height: 550px;
    width: 550px;
    display: flex;
    justify-self: center;
    align-items: center;
}


/* FOOTER */
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    border-top: 2px solid #841010;
    background-color: white;
}