nav{
    margin: 0;
    padding: 5px 10%;
    box-sizing: border-box;
    background-color: white;
    border-bottom: 5px solid #841010; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
 }
 .logo{
    font-size: 20px;
    font-weight: 400;
    color: black;
    letter-spacing: 2px;
 }
.nav-link{
    list-style: none;
    display: flex;
    gap: 25px;
}
.nav-link li a{
    position: relative;
    font-size: 20px;
    font-weight: 500;
    color: black

}
/*changes the color when you hover over the links*/
.nav-link li a:hover{
    color:  rgb(132, 16, 16);
}
/* FOOTER */

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    border-top: 2px solid #841010;
    background-color: white;
}